<div class ="retard">
<div class= "span-1">
	<center><img src="http://i.imgur.com/ZgEQ3.png"><center>
</div>

<div class = "span-8">
	<center><ul>
		<%= form_for @user do |f| %>
		<li><h1><b>New Account</b></h1></li>	
		<li><%= render 'shared/error_messages_user' %></li>
		<li><%= f.text_field :email, :class => "textstyle", :placeholder => "Email" %></li>
		<li><%= f.text_field :username, :class => "textstyle", :placeholder => "New Username" %></li>
		<li><%= f.password_field :password, :class => "textstyle", :placeholder => "Password" %></li>
		<li><%= f.password_field :password_confirmation, :class => "textstyle", :placeholder => "Confirm Password" %></li>
		<div class="actions">
			<li><%= f.submit "Create"  %><li>
		</div>
		<% end %>
	</ul></center>
</div>
</div></center>
</div>







