<<<<<<< HEAD
<html>
	<body>
		<center><div class = body>
			<div class = "span-10">
				<div class = "greenbox">
				<ul>
				<form>
				<br>
				<li><input name = "lname" placeholder = "Last Name" class = "createstyle" ></li>
				<li><input name = "fname" placeholder = "First Name" class = "createstyle" ></li>
				<li><input name = "idnumb" placeholder = "ID number" class = "createstyle"></li>
				<li><input name = "gradyear" placeholder = "Graduation Year" class = "createstyle"></li>
				<li><input name = "grade" placeholder = "Grade" class = "createstyle"></li>
				<li><input name = "address1" name = "Address 1" placeholder = "First Name" class = "createstyle" ></li>									<li><input name = "address2" placeholder = "Address 2" class = "createstyle" ></li>
				<li><input name = "city" placeholder = "City" class = "createstyle"></li>
				<li><input name = "zip" placeholder = "Zip Code" class = "createstyle"></li>
				</form>
			</ul>
			</div>
			</div>
			<div class = "span-9">
				<div class = "orangebox">
			<ul>
				<br><br>
				<form class = "box">
				<li><input name = "email1" placeholder = "Email 1" class = "orange" ></li>
				<li><input type = "checkbox" name: "confirm_email" class = "check"><b>Confirmed</b></li>
				<li><input name = "email2" placeholder = "Email 2" class = "orange" ></li>
				<li><input type = "checkbox" name =  "confirm_email" class = "check" ><b>Confirmed</b></li>
				</form>
				<form class = "box">
				<li><input name = "tel1" placeholder = "Telephone 1" class = "orange"></li>
				<li><input name = "tel2" placeholder = "Telephone 2" class = "orange"></li>
				</form>
				<br>
				<center><%= link_to "Save", create_student_path, :class => "student round" %></center>
				<br>
				<center><%= link_to "New Student", create_student_path, :class => "student round" %></center>

			</ul>
			</div>
			</div>
			<div class = "span-2">
				<br><br><br><br><br><br><br><br><br><br><br>
			<%= link_to "Done", logged_in_path, :class => "student round" %>
		</div>
	</div>	</center>
	</body>
</html>
=======
<h1>Create New Student<h1>

<%= form_for(@student) do |f| %>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :studentid %><br />
    <%= f.text_field :studentid %>
  </div>
  <div class="field">
    <%= f.label :graduationyear %><br />
    <%= f.text_field :graduationyear %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :telephone1 %><br />
    <%= f.text_field :telephone1 %>
  </div> <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :telephone2 %><br />
    <%= f.text_field :telephone2 %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>

>>>>>>> upstream/master



