<html>
	<body>
		<container class= "log">
		<div class="span-7">
				<center><ul>
					<br><br>
					<% form_tag '/upload', :multipart => true do %>
					<li><b><font size = "5">Total Service Hours</font></b><%= text_field_tag :service, "", :class => "total"%></li>
					<br><br><br>
					<li><%= link_to "", previous_services_path, :class => "viewprevious" %></li>
				</ul></center>
			</div>
			<div class= "span-2">
				<ul>
					<br>
					<li><img src="http://i.imgur.com/ZgEQ3.png"></li>
				</ul>
			</div>
			<div class = "span-10">
				<form>
					<ul>
					<br>
					<li><%= text_field_tag :dates, "", :placeholder => "Dates", :class => "loginput" %></li>
					<li><%= text_field_tag :organization, "", :placeholder => "Nonprofit Organization", :class => "loginput" %></li>
					<li><%= text_field_tag :category, "", :placeholder => "Category", :class => "loginput" %></li>
					<li><%= text_area_tag :contribution, "", :size => "1x1",:placeholder => "Contribution", :class => "loginput"%></li>
					<li><%= text_area_tag :impact, "", :placeholder => "Impact", :class => "loginput" %></li>
					<li><%= text_field_tag :hours, "", :placeholder => "Hours Volunteered", :class => "loginput" %></li>
				
					</ul>
				</form>
			</div>
			<div class = "span-2">
				<ul>
					<br>
					<li><%= link_to "Undo", logged_in_path, :class => "previous round" %></li>
					<br><br><br><br><br><br><br><br><br><br><br><br><br>
					<li><%= file_field_tag "Attach Document", :type => :image, :src => "/images/attachfilebutton.png"  %></li>
					<br>
					<li><%= link_to "Save & Refresh", logged_in_path, :class => "previous round" %></li>
				</ul>
			</div>
		<% end %>

					
		</container>
	</body>
</html>
