<div class = "students_search">
<div class = "span-8">
	<%= form_tag searched_path do %>
	<p>
	<%= text_field_tag :search, :placeholder => "First Name" %>
	<%= text_field_tag :search, :placeholder => "Last Name" %>
	<%= text_field_tag :search, :placeholder => "ID number" %>
	<%= text_field_tag :search, :placeholder => "Email" %>
	<%= text_field_tag :search, :placeholder => "Telephone" %>
	<%= submit_tag "", :type => :image, :src => "/images/SearchButton.png" %>
	</p>
	<% end %>
	</div>
	</div>
